*

!frontend/static
!frontend/configs
!frontend/coffee
!frontend/styles
!frontend/*.json
!frontend/*.sh
!frontend/.*rc

!KerbalStuff
!templates
!spacedock
!setup.py
!requirements*.txt
!logging.ini
!config.ini
!alembic.ini
