*.pyc
*.swp
*.rdb
*~

bin/
lib/
share/
include/
local/

config.ini
alembic.ini
.last_head
.frozen-requirements.txt

/storage
/spacedock-db
/static
content/
.bash_history

venv/
build/
node_modules/
.npm/
.mypy_cache/

.idea/
nbproject/
pip-selfcheck.json

__pycache__/
.pytest_cache/
