*.pyc
*.swp
*.rdb
*~

bin/
lib/
share/
include/
local/

config.ini
alembic.ini

/storage
/spacedock-db
/static
content/

venv/
build/
node_modules/
.npm/
.mypy_cache/

.idea/
nbproject/
pip-selfcheck.json
