[meta]
# enviornment=prod for deployed instances
environment=dev

[dev]
# The displayed name of this site
site-name=Spacedock.Info
# The email where users who need help write to
support-mail=support@spacedock.info
# The email address that automatically activates people who send to it
activation-mail=
# Where the source code of your page is hosted. If you have forked and
# edited the code, change this. Otherwise don't.
source-code=https://github.com/KSP-SpaceDock/KerbalStuff
# Put all support channels in here, like Riot, Discord or IRC.
support-channels={ "Riot" : "https://im.52k.de/", "Discord" : "https://discord.gg/htPQYqC", "IRC" : "http://webchat.esper.net/?channels=spacedock" }
# If you have a donation link, you may add the address here.
donation-link=https://www.patreon.com/user?u=2903335&ty=p
# If you have a donation link and want it displayed below the header, set this to 'true'
donation-header-link=false

# Change this to the actual location of your site
protocol=http
domain=localhost:5080
# Change this value to something random and secret
secret-key=hello world

# Set this to the id of the Game that represents KSP.
# Its GameVersions will automatically sync up with CKAN's KSP builds.json.
ksp-game-id=

# Enable offloading of downloads to the reverse proxy server. Make sure the reverse proxy is set up!
# valid values are:
# false - disable offloading
# nginx - enable X-Accel headers
# apache - enable X-Sendfile headers
use-x-accel=false

# Set this to False to disable registration
registration=True

# To send emails, fill out these details
smtp-host=
smtp-port=
smtp-user=
smtp-password=
smtp-tls=false
# Exceptions are emailed here
error-to=
error-from=

# SQL connection string
connection-string=postgresql://postgres:somewhatsecretpassword@db/spacedock

# Redis connection string
# http://docs.celeryproject.org/en/3.0/getting-started/brokers/redis.html
redis-connection=redis://redis:6379/0

# Absolute path to the directory you want to store mods in
storage=/opt/spacedock/storage

# Redirect downloads to a CDN. Can also contain a partial path, without trailing slash.
cdn-domain=
# The internal hostname of the CDN / a reverse proxy in front of this server that caches mod files.
# If set, the backend will send a PURGE request when a mod version gets deleted to clear it from the cache.
cdn-internal=

# Set hook_secret and your GitHub web hook's secret to the same value to authenticate hooks
# to trigger automatic redeployment.
hook_secret=
hook_repository=KSP-SpaceDock/SpaceDock
hook_branch=master
restart_command=systemd-restart.sh

# Various services you can plug in
# GitHub (Login)
gh-oauth-id=
gh-oauth-secret=
# Google (Login)
google-oauth-id=
google-oauth-secret=
# Ads
project_wonderful_id=
# Analytics
google_analytics_id=
google_analytics_domain=
# Blog comments
disqus_id=

# Thumbnail size in WxH format, leave blank to disable screenshots
thumbnail_size=320x320

# URL to notify of mod creation
create-url=

# URL to notify of mod updates
notify-url=
