[loggers]
keys=root,flask,system

[handlers]
keys=consoleHandler,flaskHandler,localSyslogHandler

[formatters]
keys=Formatter,flaskFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_flask]
qualname = KerbalStuff.app
level = DEBUG
handlers = flaskHandler
propagate = 0

[logger_system]
qualname=system
level = DEBUG
handlers = localSyslogHandler
propagate = 0

[handler_consoleHandler]
class=StreamHandler
args=(sys.stderr,)
formatter=Formatter

[handler_localSyslogHandler]
class=handlers.SysLogHandler
args=(('/dev/log'), handlers.SysLogHandler.LOG_DAEMON)
formatter=Formatter

[formatter_Formatter]
format=%(asctime)s %(levelname)s %(name)s:%(process)d %(message)s

[handler_flaskHandler]
class = StreamHandler
args = (sys.stderr,)
formatter = flaskFormatter

[formatter_flaskFormatter]
format = %(asctime)s %(levelname)s Backend:%(process)d %(message)s
