[Unit]
Description=Spacedock Notify
After=network.target spacedock@.service
PartOf=spacedock.target
ReloadPropagatedFrom=spacedock.target


[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/virtual/spacedock.info/htdocs/SpaceDock-Notify
Environment="PATH=/var/www/virtual/spacedock.info/htdocs/SpaceDock-Notify/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
ExecStart=/var/www/virtual/spacedock.info/htdocs/SpaceDock/bin/python app.py
Restart=always
RestartSec=60

[Install]
WantedBy=spacedock.target
