# See ReADME.md for more about this file
[Unit]
Description=Spacedock
Requires=spacedock-prepare.service spacedock@8004.service spacedock@8006.service spacedock@8009.service spacedock@8010.service spacedock@8011.service spacedock@8012.service spacedock@8013.service spacedock@8014.service spacedock-celery spacedock-notify

[Install]
WantedBy=multi-user.target
