{% extends "admin.html" %}
{% block admin_content %}
<div class="tab-pane active" id="email">
    <div class="container admin-container space-left-right">
        <h3>Email Everyone</h3>
        <form role="form" action="{{ url_for("admin.email") }}" method="POST">
            <p>This will send an email to loads of people, be careful.</p>
            <div class="checkbox">
                <label for="modders-only">
                    <input type="checkbox" name="modders-only" id="modders-only" style="position: relative; top: -3px">
                    Email published modders only
                </label>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea name="body" id="body" class="form-control input-block-level" rows=10></textarea>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Send">
        </form>
    </div>
</div>
{% endblock %}
