{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/static/editor.css"/>
    <link rel="stylesheet" type="text/css" href="/static/chosen.min.css"/>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Admin Stuff</h1>
    </div>
</div>
<div class="container">
    <div id="content">
        <div class="centered admin-nav box">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ url_for("admin.users", page=1) }}">Users</a></li>
                <li><a href="{{ url_for("admin.blog") }}">Blog</a></li>
                <li><a href="{{ url_for("admin.publishers", page=1) }}">Publishers</a></li>
                <li><a href="{{ url_for("admin.games", page=1) }}">Games</a></li>
                <li><a href="{{ url_for("admin.game_versions", page=1) }}">Game Versions</a></li>
                <li><a href="{{ url_for("admin.email") }}">E-Mail</a></li>
                <li><a href="{{ url_for("admin.links") }}">Links</a></li>
            </ul>
        </div>
        <div id="my-tab-content" class="tab-content">
            {% block admin_content %}{% endblock %}
        </div>
    </div>


</div>
{% endblock %}
{% block scripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/bootstrap-table.min.js"></script>
    <script src="/static/extensions/editable/bootstrap-table-en-editable.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="/static/locale/bootstrap-table-en-US.min.js"></script>
    <script src="/static/chosen.jquery.min.js"></script>
    <script src="/static/create.js"></script>
    <script src="/static/editor.js"></script>
    <script src="/static/marked.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
        $( document ).ready(function() {
            $("#pname").chosen({max_selected_options: 1, no_results_text: "No Options found", width: '100%'});
            $("#ganame").chosen({max_selected_options: 1, no_results_text: "No Options found", width: '100%'});
        });
        editor = new Editor();
        editor.render();
    </script>
{% endblock %}
