{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/static/editor.css"/>
    <link rel="stylesheet" type="text/css" href="/static/chosen.min.css"/>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Admin Stuff</h1>
    </div>
</div>
<div id="content">
    <div class="centered admin-nav box panel panel-default" style="margin: 2.5mm">
        <ul class="nav nav-pills nav-justified panel-content">
            <li id="adm-link-users"><a href="{{ url_for("admin.users", page=1) }}">Users</a></li>
            <li id="adm-link-publishers"><a href="{{ url_for("admin.publishers", page=1) }}">Publishers</a></li>
            <li id="adm-link-games"><a href="{{ url_for("admin.games", page=1) }}">Games</a></li>
            <li id="adm-link-game-versions"><a href="{{ url_for("admin.game_versions", page=1) }}">Game Versions</a></li>
            <li id="adm-link-blog"><a href="{{ url_for("admin.blog") }}">Blog</a></li>
            <li id="adm-link-email"><a href="{{ url_for("admin.email") }}">E-Mail</a></li>
            <li id="adm-link-links"><a href="{{ url_for("admin.links") }}">Links</a></li>
        </ul>
    </div>
    <div class="tab-content">
        {% block admin_content %}{% endblock %}
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/bootstrap-table.min.js"></script>
    <script src="/static/extensions/editable/bootstrap-table-en-editable.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="/static/locale/bootstrap-table-en-US.min.js"></script>
    <script src="/static/chosen.jquery.min.js"></script>
    <script src="/static/editor.js"></script>
    <script src="/static/marked.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
        $( document ).ready(function() {
            $("#pname").chosen({max_selected_options: 1, no_results_text: "No Options found", width: '100%'});
            $("#ganame").chosen({max_selected_options: 1, no_results_text: "No Options found", width: '100%'});
        });
        editor = new Editor();
        editor.render();
    </script>
{% endblock %}
