{% extends "admin.html" %}
{% block admin_content %}
<div class="tab-pane active" id="links">
    <div class = "table-responsive bootstrap-table space-left-right">
        <table class = "table" data-toggle="table" data-pagination="true" 	data-striped="true" data-search="true" trimOnSearch="true"  searchAlign="left" >

            <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a href="https://spacedock.info" target="_BLANK">SpaceDock</a></td>
                <td><a href="https://spacedock.info" target="_BLANK">https://spacedock.info</a></td>
            </tr>
            <tr>
                <td><a href="https://alpha.spacedock.info" target="_BLANK">SpaceDock Alpha</a></td>
                <td><a href="https://alpha.spacedock.info" target="_BLANK">https://alpha.spacedock.info</a></td>
            </tr>
            <tr>
                <td><a href="https://beta.spacedock.info" target="_BLANK">SpaceDock Beta</a></td>
                <td><a href="https://beta.spacedock.info" target="_BLANK">https://beta.spacedock.info</a></td>
            </tr>
            <tr>
                <td><a href="https://stats.52k.de" target="_BLANK">Web statistics</a></td>
                <td><a href="https://stats.52k.de" target="_BLANK">https://stats.52k.de</a></td>
            </tr>
            <tr>
                <td><a href="https://www.patreon.com/spacedock?ty=p" target="_BLANK">Patreon (Donations)</a></td>
                <td><a href="https://www.patreon.com/spacedock?ty=p" target="_BLANK">https://www.patreon.com/spacedock?ty=p</a></td>
            </tr>
            <tr>
                <td><a href="https://forum.kerbalspaceprogram.com/index.php?/topic/170865-spacedockinfo" target="_BLANK">KSP Forum Thread</a></td>
                <td><a href="https://forum.kerbalspaceprogram.com/index.php?/topic/170865-spacedockinfo" target="_BLANK">https://forum.kerbalspaceprogram.com/index.php?/topic/170865-spacedockinfo</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('adm-link-links').classList.add('active')
</script>
{% endblock %}
