{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
{% endblock %}
{% block title %}
{% if search %}
<title>Search {{ site_name }}</title>
{% else %}
<title>{{ name }} on {{ site_name }}</title>
{% endif %}
{% endblock %}
{% block body %}
<div class="well">
    <div class="container main-cat">
        {% if rss %}
        <a href="{% if ga %}/{{ ga.short }}{% endif %}{{ rss }}" class="pull-right"><img src="/static/rss.png" height=38 /></a>
        {% endif %}
        {% if search %}
        <h3>Search results for "{{ query }}"</h3>
        {% else %}
        <h3>{{ name }}</h3>
        {% endif %}
    </div>
</div>
<div class="container">
    {% if search and not any(mods) %}
    <p>Nothing to see here. If you're looking for a specific mod, why not ask the modder to upload it here?</p>
    {% endif %}
    <div class="row">
    {% for mod in mods %}
        {% include "mod-box.html" %}
    {% endfor %}
    </div>
    <div style="margin-top: 5mm" class="row" style="margin-bottom:2.5mm;">
        <div class="col-md-2">
            {% if page != 1 %}
            {% if search %}
            {# TODO #}
            {% else %}
            <a href="{% if ga %}/{{ ga.short }}{% endif %}{{ url }}?page={{ page - 1 }}"
                class="btn btn-lg btn-primary btn-block">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
            </a>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-md-2 col-md-offset-8">
            {% if page < total_pages %}
            {% if search %}
            {# TODO #}
            {% else %}
            <a href="{% if ga %}/{{ ga.short }}{% endif %}{{ url }}?page={{ page + 1 }}"
                class="btn btn-lg btn-primary btn-block">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
