{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
{% endblock %}
{% block title %}
{% if search %}
<title>Search {{ site_name }}</title>
{% else %}
<title>{{ name }} on {{ site_name }}</title>
{% endif %}
{% endblock %}
{% block body %}
<div class="well">
    <div class="container main-cat">
        {% if rss %}
        <h3 class="pull-right"><a href="{% if ga %}/{{ ga.short }}{% endif %}{{ rss }}"><img src="/static/rss.png" style="height: 1em;"/></a></h3>
        {% endif %}
        {% if search %}
        <h3>Search results for "{{ query }}"</h3>
        {% else %}
        <h3>{{ name }}</h3>
        {% endif %}
    </div>
</div>
{% set qparam = {'query': query} if query else {} %}
<div class="container">
    {% if sort %}
        <div class="text-right" style="margin-right: 1em;">
            Sort by
            <div class="btn-group">
                <a class="btn btn-default {{"active" if sort == "popularity" else ""}}"
                   href="{{url_for('anonymous.singlegame_browse_top', gameshort=ga.short, **qparam)
                           if ga else
                           url_for('anonymous.browse_top', **qparam)}}">Popularity</a>
                <a class="btn btn-default {{"active" if sort == "new" else ""}}"
                   href="{{url_for('anonymous.singlegame_browse_new', gameshort=ga.short, **qparam)
                           if ga else
                           url_for('anonymous.browse_new', **qparam)}}">New</a>
                <a class="btn btn-default {{"active" if sort == "updated" else ""}}"
                   href="{{url_for('anonymous.singlegame_browse_updated', gameshort=ga.short, **qparam)
                           if ga else
                           url_for('anonymous.browse_updated', **qparam)}}">Updated</a>
            </div>
        </div>
    {% endif %}
    {% if not any(mods) %}
    <p>Nothing to see here. If you're looking for a specific mod, why not ask the modder to upload it here?</p>
    {% endif %}
    <div class="row">
    {% if featured %}
        {% for feature in featured %}
            {% set mod = feature.mod %}
            {% include "mod-box.html" %}
        {% endfor %}
    {% else %}
        {% for mod in mods %}
            {% include "mod-box.html" %}
        {% endfor %}
    {% endif %}
    </div>
    {%- if total_pages > 1 -%}
    <div style="margin-top: 5mm" class="row vertical-centered" style="margin-bottom:2.5mm;">
        <div class="col-md-2">
            {%- if page != 1 -%}
            <a class="btn btn-lg btn-primary btn-block"
               href="{{(url_for('anonymous.singlegame_search', gameshort=ga.short, page=page-1, **qparam)
                        if ga else
                        url_for('anonymous.search', page=page-1, **qparam))
                       if search else
                       ('/' ~ ga.short ~ url ~ '?query=' ~ query ~ '&page=' ~ (page-1)
                        if ga else
                        url ~ '?query=' ~ query ~ '&page=' ~ (page-1))}}">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
            </a>
            {%- endif -%}
        </div>
        <div class="col-md-8 centered text-muted">Page {{ page }} / {{ total_pages }}</div>
        <div class="col-md-2">
            {%- if page < total_pages -%}
            <a class="btn btn-lg btn-primary btn-block"
               href="{{(url_for('anonymous.singlegame_search', gameshort=ga.short, page=page+1, **qparam)
                        if ga else
                        url_for('anonymous.search', page=page+1, **qparam))
                       if search else
                       ('/' ~ ga.short ~ url ~ '?query=' ~ query ~ '&page=' ~ (page+1)
                        if ga else
                        url ~ '?query=' ~ query ~ '&page=' ~ (page+1))}}">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            {%- endif -%}
        </div>
    </div>
    {%- endif -%}
</div>
{% endblock %}
