{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
{% endblock %}
{% block title %}
{% if search %}
<title>Search {{ site_name }}</title>
{% else %}
<title>{{ name }} on {{ site_name }}</title>
{% endif %}
{% endblock %}
{% block body %}
<div class="well">
    <div class="container main-cat">
        {% if rss %}
        <a href="{% if ga %}/{{ ga.short }}{% endif %}{{ rss }}" class="pull-right"><img src="/static/rss.png" height=38 /></a>
        {% endif %}
        {% if search %}
        <h3>Search results for "{{ query }}"</h3>
        {% else %}
        <h3>{{ name }}</h3>
        {% endif %}
    </div>
</div>
<div class="container">
    {% if search and not any(mods) %}
    <p>Nothing to see here. If you're looking for a specific mod, why not ask the modder to upload it here?</p>
    {% endif %}
    <div class="row">
    {% for mod in mods %}
        {% include "mod-box.html" %}
    {% endfor %}
    </div>
    {%- if total_pages > 1 -%}
    <div style="margin-top: 5mm" class="row vertical-centered" style="margin-bottom:2.5mm;">
        <div class="col-md-2">
            {%- if page != 1 -%}
            <a class="btn btn-lg btn-primary btn-block"
                href="{%- if search -%}
                {% if ga %}/{{ ga.short }}{% endif %}/search?query={{ query | escape }}&page={{ page - 1 }}
                {%- else -%}
                {% if ga %}/{{ ga.short }}{% endif %}{{ url }}?page={{ page - 1 }}
                {%- endif -%}">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
            </a>
            {%- endif -%}
        </div>
        <div class="col-md-8 centered text-muted">Page {{ page }} / {{ total_pages }}</div>
        <div class="col-md-2">
            {%- if page < total_pages -%}
            <a href="{%- if search -%}
                {% if ga %}/{{ ga.short }}{% endif %}/search?query={{ query | escape }}&page={{ page + 1 }}
                {%- else -%}
                {% if ga %}/{{ ga.short }}{% endif %}{{ url }}?page={{ page + 1 }}
                {%- endif -%}"
                class="btn btn-lg btn-primary btn-block">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            {%- endif -%}
        </div>
    </div>
    {%- endif -%}
</div>
{% endblock %}
