<html>
<head></head>
<body>
    <p>Hi there! Thought you would like to know that {{ mod.user.username }} told us that version {{ latest.friendly_version }} of {{ mod.name }} works great with {{ mod.game.name }} {{ latest.gameversion.friendly_version }}.</p>
    <p>If you are already up-to-date, you don't need to do anything. Otherwise, you can grab the latest version here:</p>
    <a href="https://{{ domain }}{{ url }}">{{mod.name}} {{latest.friendly_version}}</a>
    </p>If you'd prefer us not to email you about this mod, you can hit "Unfollow" on this mod's page and you won't get them any more.</p>
</body>
</html>
