<html>
<head></head>
<body>
    <p>Hi there! {{ user.username }} has just published version {{ latest.friendly_version }} of {{ mod.name }} on {{ site_name }}!</p>
    <p>You can grab the new version here:</p>
    <a href="https://{{ domain }}{{ url }}">{{mod.name}} {{latest.friendly_version}}</a>
    <p>This version is compatible with {{ mod.game.name }} {{ latest.gameversion.friendly_version }}.</p>
    <p>If you'd prefer us not to email you about this mod, you can hit "Unfollow" on this mod's page and you won't get them any more.</p>
    <p>Here are the changes:</p>
    {{ changelog | markdown | bleach }}
</body>
</html>
