{% extends "layout.html" %}
{% block body %}
<div class="error-banner" style="background-image: url('/static/error_404.jpg')">
    <div class="container">
        <h4>{{ error.code }} {{ error.name }}</h4>
        <h3>{{ error.description }}</h3>
        <p>
            <a href="/" class="btn btn-primary">Browse Mods</a>
            <a href="mailto:{{ support_mail }}" class="btn btn-primary">Contact Support</a>
        </p>
    </div>
</div>
<p class="pull-right">Image credit: <a href="https://www.reddit.com/user/Calebm12">/u/Calebm12</a></p>
{% endblock %}
