{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
<link rel="stylesheet" type="text/css" href="/static/mod.css" />
{% endblock %}
{% block opengraph %}
    <meta property="og:title" content="Mods for {{ ga.name }} on {{ site_name }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Browse {{ mod_count }} mods for {{ ga.name }}">
    {% set thumbnail = ga.background or "/static/background-s.png" -%}
    <meta property="og:image" content="{{ thumbnail }}">
{% endblock %}
{% block body %}
{%- if editable -%}
<div class="header upload-well scrollable" id="header-well" style="
    {% if background %}background-image: url({{ background }});{% endif %}
    background-position: 0 {% if ga.bgOffsetY %}{{ ga.bgOffsetY }}px{% else %}0{% endif %};
    background-color: #ddd;"
    data-event="upload_bg"
    data-scroll-y="bg-offset-y">
    <a href="#" class="upload-link">Click to upload header</a>
    <input type="file">
    <div class="upload-progress"></div>
    <div class="directions"><span class="glyphicon glyphicon-resize-vertical"></span>Click and drag to move <span class="glyphicon glyphicon-resize-vertical"></span></div>
</div>
<input type="hidden" name="bg-offset-y" id="bg-offset-y" value="{% if ga.bgOffsetY %}{{ ga.bgOffsetY }}{% endif %}">
{%- elif background -%}
<div class="header" style="background-image: url({{ background }});
    background-position: 0 {% if ga.bgOffsetY %}{{ ga.bgOffsetY }}px{% else %}0{% endif %};"></div>
{%- endif -%}
{% if mod_count > 0 %}
{% if user and len(yours) >= 1 %}
    <div class="well" style="margin-bottom: 0;">
        <div class="container main-cat">
            <a href="/profile/{{ user.username }}" class="btn btn-primary pull-right">
                Your Profile
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <h3>Followed Mods <small>Recently updated mods you follow</small></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for mod in yours %}
            {% include "mod-box.html" %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="well"  style="margin-bottom: 0;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/featured" class="btn btn-primary pull-right">
            Browse Featured Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Featured Mods <small>Hand-picked by {{ site_name }} admins</small></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for feature in featured[:6]  %}
        {% set mod = feature.mod %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="well"  style="margin-bottom: 0;margin-top: 2.5mm;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/new" class="btn btn-primary pull-right">
            Browse New Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Newest Mods</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for mod in new  %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="well"  style="margin-bottom: 0;margin-top: 2.5mm;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/updated" class="btn btn-primary pull-right">
            Browse Freshest Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Recently Updated Mods</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for mod in recent %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="well" style="margin-bottom: 0;margin-top: 2.5mm;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/top" class="btn btn-primary pull-right">
            Browse Popular Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Most Popular</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for mod in top %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
{% if pack_count > 0 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-lg btn-block btn-default" href="/packs{% if ga %}/{{ ga.short }}{% endif %}">
                Browse Mod Packs
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="well">
    <div class="container lead">
        <div class="row centered">
            <div class="col-md-4 col-md-offset-4">
                There are no mods for {{ga.name}} yet.
            </div>
        </div>
        <div class="row centered">
            <div class="col-md-4 col-md-offset-4">
                <a class="btn btn-lg btn-block btn-primary" href="/create/mod">Be the first to add one!</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
    <script>
        window.game_id = {{ga.id}};
    </script>
    <script src="/static/game.js"></script>
{% endblock %}
