{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
{% endblock %}
{% block body %}
{% if user and len(yours) >= 1 %}
    <div class="well" style="margin-bottom: 0;">
        <div class="container main-cat">
            <a href="/profile/{{ user.username }}" class="btn btn-primary pull-right">
                Your Profile
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <h3>Followed Mods <small>Recently updated mods you follow</small></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for mod in yours %}
            {% include "mod-box.html" %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="well"  style="margin-bottom: 0;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/featured" class="btn btn-primary pull-right">
            Browse Featured Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Featured Mods <small>Hand-picked by {{ site_name }} admins</small></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for feature in featured[:6]  %}
        {% set mod = feature.mod %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="well"  style="margin-bottom: 0;margin-top: 2.5mm;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/new" class="btn btn-primary pull-right">
            Browse New Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Newest Mods</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for mod in new  %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="well"  style="margin-bottom: 0;margin-top: 2.5mm;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/updated" class="btn btn-primary pull-right">
            Browse Freshest Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Recently Updated Mods</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for mod in recent %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="well" style="margin-bottom: 0;margin-top: 2.5mm;">
    <div class="container main-cat">
        <a href="{% if ga %}/{{ ga.short }}{% endif %}/browse/top" class="btn btn-primary pull-right">
            Browse Popular Mods
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <h3>Most Popular</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for mod in top %}
        {% include "mod-box.html" %}
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-lg btn-block btn-default" href="/packs{% if ga %}/{{ ga.short }}{% endif %}">
                Browse Mod Packs
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
