<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%- block title %}
            <title>{{ site_name }}</title>
        {% endblock -%}
        {%- block opengraph %}
            <meta property="og:title" content="{{ site_name }}">
            <meta property="og:type" content="website">
            {% if caption -%}
            <meta property="og:description" content="{{ caption }}">
            {% endif -%}
            <meta property="og:image" content="/static/og.png">
        {% endblock -%}
        <meta property="og:site_name" content="{{ site_name }}">

        <link rel="search" type="application/opensearchdescription+xml" title="{{ site_name }}" href="/static/opensearch.xml" />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/180x180.png">
        <link rel="icon" type="image/png" href="/static/16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/static/32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/192x192.png" sizes="192x192">
        <link rel="manifest" href="/static/manifest.json">
        <link rel="mask-icon" href="/static/fav.svg" color="#204499">
        <link rel="shortcut icon" href="/static/57x57.ico">
        <meta name="msapplication-TileColor" content="#204499">
        <meta name="msapplication-TileImage" content="/static/144x144.png">
        <meta name="msapplication-config" content="/static/browserconfig.xml">
        <meta name="theme-color" content="#204499">
        <link rel="stylesheet" type="text/css" href="/static/bundle.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />
        {% block styles %}
        {% endblock %}
        <!-- Piwik -->
          {% if admin %}
              {% set VisitorType = 'Admin' %}
          {% else %}
              {% if not user %}
                  {% set VisitorType = 'Guest' %}
              {% else %}
                  {% set VisitorType = 'Member' %}
              {% endif %}
          {% endif %}
          {% if results is defined %}
              {% set SearchResultCount = results|length %}
          {% else %}
              {% set SearchResultCount = 0 %}
          {% endif %}
        <noscript><p><img src="//stats.52k.de/piwik.php?idsite=10" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </head>
    <body class="{% if user %}logged-in{% endif %}">
        {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top {% if admin %}navbar-admin{% endif %}" role="navigation" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand space-left-right" id="pagetitle" href="/" style="display: inline;vertical-align: middle;padding-top: 2.5mm;margin-right: 0;padding-right: 0; width: auto; ">
                        <span class="darker">
                            <img class="logoimg" src="/static/logo4.png" alt="SpaceDock" border="0" height="85%"/>
                            {%- if ga -%}
                            <img class="sublogo" src="/static/sublogo.png" alt=">" border="0" height="85%"/>&nbsp;
                            <a style="position: relative; top: 3mm;" class="gamename" href="/{{ ga.short }}">{{ ga.name }}</a>
                            {%- endif -%}
                        </span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% if not user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"   ><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            <ul class="dropdown-menu" >
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                                </li>
                                {% if registration %}
                                <li><a href="{{ url_for("accounts.register") }}">Register</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{{ donation_link }}" target="_BLANK">Donate</a></li>
                                <li class="divider"></li>
                                <li><a href="/random">Random Mod</a></li>
                                <li><a href="/blog">Blog</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.username }} <span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            <ul class="dropdown-menu{% if user and user.admin %} dropdown-menu-admin{% endif %}" >
                                <li><a href="/random">Random Mod</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ donation_link }}">Donate</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/create/mod">
                                        <span class="glyphicon glyphicon-open"></span> Create a New Mod
                                    </a>
                                </li>
                                <li>
                                    <a href="/create/pack">
                                        <span class="glyphicon glyphicon-list"></span> Create a New Pack
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("profile.view_profile", username=user.username) }}">
                                        <span class="glyphicon glyphicon-user"></span> View Your Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("profile.profile", username=user.username) }}">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit Your Profile
                                    </a>
                                </li>
                                {% if admin %}
                                <li>
                                    <a href="{{ url_for("admin.admin_main") }}">
                                        <span class="glyphicon glyphicon-fire"></span> Admin Stuff
                                    </a>
                                </li>
                                {% endif %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for("accounts.logout") }}">
                                        <span class="glyphicon glyphicon-remove"></span> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    {% block search %}
                    <form class="navbar-form navbar-search" role="search" action="{% if ga %}/{{ ga.short }}{% endif %}/search" method="GET">
                        <div class="form-group">
                            <input type="text" class="form-control search-box" name="query" placeholder="Search mods...">
                        </div>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </nav>
        {% endblock %}
        {%- if announcements %}
            <div class="container">
                {%- for announcement in announcements %}
                    <div class="well alert alert-danger" style="padding:0.5em 1em;">
                        <h1>{{ announcement.title }} <small>{{ announcement.created.strftime("%Y-%m-%d %H:%M") }}</small></h1>
                        <div class="">{{ announcement.text | markdown }}</div>
                    </div>
                {%- endfor %}
            </div>
        {%- endif %}
        <div class="alert alert-info alert-dismissable alert-fixed hidden" id="alert-follow">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Done!</strong> You'll get emailed updates for this mod.
        </div>
        <div class="alert alert-danger alert-dismissable alert-fixed hidden" id="alert-error">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="alert-error-text"></div>
        </div>
        {% if donation_header_link %}
        <div class="centered alert alert-danger alert-dismissable no-margin" id="alert-donate">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ site_name }} needs your help! Please consider <a href="{{ donation_link }}" class="alert-link">donating</a> to keep us online.
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        <footer>
            <div class="container centered">
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="{{ source_code }}">Source Code</a></li>
                            <li><a href="{{ source_code }}/blob/master/api.md">API</a></li>
                            <li><a href="/privacy">Terms & Privacy</a></li>
                            <li><a href="mailto:{{ support_mail }}">Support</a></li>
                            {% for key, value in support_channels.items() %}
                            {% if value %}
                            <li><a href="{{ value }}" target="_blank">{{ key }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if donation_link %}
                            <li><a href="{{ donation_link }}">Donate</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Login</h4>
                    </div>
                    <form role="form" action="/login" method="POST">
                        <div class="modal-body">
                            <input type="text" id="username" placeholder="Username" name="username">
                            <input type="password" id="password" placeholder="Password"
                                   name="password">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember-me" id="remember-me">
                                    Remember Me
                                </label>
                            </div>
                            <input type="hidden" name="return_to" value="{{ request.path }}">
                            {% for provider in oauth_providers %}
                                {% set provider_icon = oauth_providers[provider].icon %}
                                {% set provider_full_name = oauth_providers[provider].full_name %}
                                <form action="/login-oauth" method="POST">
                                    <input type="hidden" name="provider" value="{{ provider }}">
                                    <button type="submit" value="" class="btn btn-primary">
                                        <i class="fa fa-{{ provider_icon }}"></i> Log In
                                        using {{ provider_full_name }}
                                    </button>
                                </form>
                            {% endfor %}
                            <a href="{{ url_for("accounts.forgot_password") }}">
                                <span class="glyphicon glyphicon-question-sign"></span> Forgot
                                Password
                            </a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <input type="submit"
                                   onclick="javascript:_paq.push(['trackEvent', 'Menu', 'Login']);"
                                   value="Log In" class="btn btn-primary">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Modal -->
    </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/underscore-min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/jquery.jscroll.min.js"></script>
    <script src="/static/global.js"></script>
    <script src="/static/piwik_loader.js"></script>
    <!--[if lt IE 9]>
        <script src="/static/html5shiv.js"></script>
        <script src="/static/respond.min.js"></script>
    <![endif]-->
    {% if not dnt %}
        {% if analytics_id and analytics_domain %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ analytics_id }}', '{{ analytics_domain }}');
                ga('require', 'displayfeatures');
                ga('send', 'pageview');
            </script>
        {% endif %}
    {% endif %}
    <script>
        var searchCount = {{ SearchResultCount }};
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.http"]);
        _paq.push(["setDomains", ["*.http","*.spacedock.info"]]);
        _paq.push(['enableHeartBeatTimer']);

        new Fingerprint2().get(function(result, components){
            var fp = parseInt(result,16);
            _paq.push(['setUserId', fp.toString(36)]);
        });

        _paq.push(['setCustomVariable','1','VisitorType','{{ VisitorType }}','visit']);
        _paq.push(['setCustomVariable','2','ThemeType','{{ user.dark_theme }}','visit']);
        {% if admin or user %}
            _paq.push(['setCustomVariable','2','UserName','{{ user.username }}','visit']);
        {% else %}
            _paq.push(['setCustomVariable','2','UserName','','visit']);
        {% endif %}
        _paq.push(['setCustomUrl', document.URL + '&search_count=' + searchCount]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['trackAllContentImpressions',true,750]);
        (function() {
            var u="//stats.52k.de/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 10]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    {% block scripts %}{% endblock %}
</html>
