{% extends "layout.html" %}
{% block title %}
<title>{{ mod_list.name }} on {{ site_name }}</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/mod.css" />
{% endblock %}
{% block body %}
{% if mod_list.background %}
<div class="header" style="background-image: url({{ mod_list.background }});
    background-position: 0 {% if mod_list.bgOffsetY %}{{ mod_list.bgOffsetY }}px{% else %}0{% endif %};"></div>
{% else %}
<div class="header" style="background-image: url(/static/background.jpg);"></div>
{% endif %}

<div class="container lead">
    <div class="row">
        <div class="col-md-8">
            <h1 title="{{ mod_list.name }}">{{ mod_list.name }}</h1>
            <h3><small>
                for {{ mod_list.game.name }},
                from <a href='{{url_for("profile.view_profile", username=mod_list.user.username)}}'>{{ mod_list.user.username }}</a>
            </small></h3>
        </div>
        {% if editable %}
            <div class="col-md-4">
                <a href="{{ url_for("lists.edit_list", list_id=mod_list.id, list_name=mod_list.name) }}"
                    class="btn btn-primary btn-default btn-block btn-lg" style="height: 40px; line-height: 20px;">Edit Pack</a>
                <a data-toggle="modal" href="#confirm-delete-pack"
                    class="btn btn-danger btn-block btn-lg" style="height: 40px; line-height: 20px;">Delete Pack</a>
            </div>
        {% endif %}
    </div>
</div>

<div class="well well-sm md-well">
    <div class="container">
        {%- if mod_list.description -%}
            {{ mod_list.description | markdown | bleach }}
        {%- elif editable -%}
            {%- if mod_list.mods -%}
                <p>Your mod pack has no description! You should
                    <a href="{{ url_for("lists.edit_list", list_id=mod_list.id, list_name=mod_list.name) }}">edit it</a>
                    to replace this text!</p>
            {%- else -%}
                <p>Your mod pack is empty! You should
                    <a href="{{ url_for("lists.edit_list", list_id=mod_list.id, list_name=mod_list.name) }}">edit it</a>
                    to add some mods. You can edit this text, too!</p>
            {%- endif -%}
        {%- else -%}
            <em>No description.</em>
        {%- endif -%}
    </div>
</div>

<div class="container">
    {% for list_item in mod_list.mods %}
        {% set mod = list_item.mod %}
        {% if mod.published %}
            {% include "mod-box.html" %}
        {% endif %}
    {% endfor %}
</div>

<div class="modal fade" id="confirm-delete-pack" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Pack?</h4>
            </div>
            <div class="modal-body">
                <p>This will forever delete the {{ mod_list.name }} pack. There is no undoing this action.</p>
                <p>Are you sure you wish to continue?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="{{ url_for("lists.delete", list_id=mod_list.id) }}"
                    class="btn btn-danger">Confirm</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
