{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
<link rel="stylesheet" type="text/css" href="/static/mod.css" />
{% endblock %}
{% block title -%}
    <title>Mod Packs {%- if game %} for {{game.name}} {%- endif -%}</title>
{%- endblock %}
{% block body %}
    <div class="well">
        <div class="container">
            <h1>Mod Packs {%- if game %} for {{game.name}} {%- endif -%}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for list in packs  %}
                {% include "pack-box.html" %}
            {% endfor %}
        </div>
        {%- if total_pages > 1 -%}
        <div style="margin-top: 5mm" class="row" style="margin-bottom:2.5mm;">
            <div class="col-md-2">
                {% if page != 1 %}
                <a href="/packs{% if ga %}/{{ ga.short }}{% endif %}{{ url }}?page={{ page - 1 }}"
                    class="btn btn-lg btn-primary btn-block">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </a>
                {% endif %}
            </div>
            <div class="col-md-8 centered text-muted">Page {{ page }} / {{ total_pages }}</div>
            <div class="col-md-2">
                {% if page < total_pages %}
                <a href="/packs{% if ga %}/{{ ga.short }}{% endif %}{{ url }}?page={{ page + 1 }}"
                    class="btn btn-lg btn-primary btn-block">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
                {% endif %}
            </div>
        </div>
        {%- endif -%}
    </div>
{% endblock %}
