.thumbnail {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
    border-radius: 0;

    .header-img {
        background-size: 100% auto;
        display: block;
    }
}

.item {
    margin-bottom: 5mm;
    position: relative;
    display: block;
    padding: 0;
    background: #fff;
    border: 1px solid #fff;

    .flip-container, .changer, .thumbnail {
        width: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
    }

    .thumbnail {
        left: 10px;
        right: 10px;
    }
    .changer, .flip-container {
        left: 0;
        right: 0;
    }

    .mod-hdr, .back .mod-ftr {
        background: rgba(0, 17, 22, 0.6);
    }
    .mod-hdr, .mod-ftr {
        color: #fff;
        font-size: 3mm;
        position: absolute;
        right: 0;
    }
    .mod-ftr {
        left: 0;
        height: 30px;
        padding: 5px 6px;
    }
    .header-img, .header-img-link {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    .mod-hdr {
        top: 0;
        padding: 3px;
        text-align: right;
    }
    .mod-ftr, .header-img {
        bottom: 40px;
    }
    .header-img-link {
        bottom: 0;
    }

    h2 {
        font-size: 18pt;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .btn-primary {
        border-radius: 0;
    }

    .follow-mod-button, .unfollow-mod-button, .download-link, .following-mod-indicator {
        text-decoration: none;
        font-size: 20px;
        margin-top: -2px;
        color: #07acd2;
    }
    .follow-mod-button, .unfollow-mod-button, .following-mod-indicator {
        float: left;
    }
    .following-mod-indicator,
    .unfollow-mod-button,
    .follow-mod-button {
        display: none;
    }
    &.following-mod .following-mod-indicator,
    &.following-mod .unfollow-mod-button,
    &.not-following-mod .follow-mod-button {
        display: block;
    }
    .front .following-mod, .front .not-following-mod {
        text-shadow: 0 0 4px rgba(0, 17, 22, 0.7);
    }
    .download-link {
        float: right;
        margin-right: -4px;
    }

    img {
        float: left;
    }

    .thumbnail {
        margin-bottom: 0;
        text-align: center;
    }

    .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 9px;
        color: #333;
        overflow: hidden;
        padding: 9px 9px 0;
    }

    .caption h2 {
        font-size: 18pt;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:nth-of-type(odd):hover, &:hover {
        background: #fff;
    }

    &:nth-of-type(odd) {
        background: #fff;
    }

    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.item-text {
    margin: 0 0 11px;
}

.item.packbox {
    .mod-ftr, .header-img {
        bottom: 80px;
    }
}
