name: PyTest

on:
- push
- pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    name: PyTest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        pip install -r requirements-backend.txt
        pip install -r requirements-tests.txt
    - name: pytest
      run: |
        cp logging.ini.example logging.ini
        pytest -v tests/
